.form__submit-button {
  width: 358px;
  height: 50px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 2px;
  padding: 0;
  margin: 0 auto;
  cursor: pointer;
  transition: opacity .4s;
  color: black;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.form__submit-button:hover {
  background-color: rgba(255, 255, 255, 1);
  opacity: 0.85;
}