.form__input {
  display: flex;
  border: 0;
  padding: 0 2px;
  height: 14px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 358px;
  margin: 30px auto 0 auto;
  padding: 13px 0 13px 0;
  border-bottom: 2px solid rgba(204, 204, 204, 1);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: black;

  color: #cccccc;
}
